{% assign otherSites = site.data.navigation['otherSites'] %}

<div id="video-container">
    <div class="twozerotwolabs"><span>TWO02</span></div>
    <div class="twozerotwolabs"><span>labs</span></div>

    {% for item in otherSites %}
    {% if item.url %}
    <div class="products clickable"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
        <h3 class="logos" style="background-image: url('{{ item.logo | absolute_url }}');">
            {{ item.title }}
        </h3>
    </div>
    {% else %}
    <div class="products"><span>{{ item.title }}</span></div>
    {% endif %}
    {% endfor %}
</div> 