body {
    margin: 0;
    background-color: black;
    z-index: -100;
}


section {
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    background-color: transparent;
    display: grid;         
}

#big-text {
    justify-self: center;
}

#big-text h1 {
    font-size: 10em;
    margin: 0;
    justify-self: center;
}
#big-text h4 {
    font-size: 5em;
    margin: 0;
}

h1,p,ul {
    margin: 0;
}

#gallery-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    gap: 40px;
    transform: rotate(8deg);
    width: 120%;
    position: relative;
    top: 20%;
    left: -10%;
}

#gallery-container {
    &::-webkit-scrollbar {
    display: none;
    }
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.gallery-item {
    flex: 0 0 auto;
    height: 300px;
    width: 400px;
    border-radius: 40px;
    background-color: aliceblue;
    
}




@keyframes rotate {
from {
rotate: 0deg;
}

50% {
scale: 1 1.5;
}

to {
rotate: 360deg;
}
}

#blob {
background-color: white;
height: 34vmax;
aspect-ratio: 1;
position: absolute;
left: 50%;
top: 50%;
translate: -50% -50%;
border-radius: 50%;
background: linear-gradient(to right, aquamarine, mediumpurple);
animation: rotate 20s infinite;
opacity: 0.8;
z-index: -4;
filter: blur(12vmax);
}

#blur {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
pointer-events: none;
}


#logo {
position: fixed;
top: 0;
left: 0%;
z-index: 10000;
}

#logo img {
width: 200px;
margin: 10px;
}


.masthead {
margin: 10px;
}

.masthead ul {
text-decoration: none;
list-style-type: none;
}

#video-container {
position: absolute;
top: 25%;
left: 25%;
z-index: -1;
width: 50%;
height: 50%;
background-color: rgb(60, 60, 60);
border-radius: 40px;
}

#toggle-menu {
border-radius: 100%;
background-color: aqua;
aspect-ratio: 1;
width: 50px;
position: fixed;
right: 10px;
top: 10px;
z-index: 101;
}

#menu {
position: fixed;
width: 100%;
height: 0%;
top: 0%;
z-index: 100;
background-color: greenyellow;
}