---
---
:root {
    --background-color: #303131;
    --font-color: #ffffff;
    --menu-color: #3c464650; /*previous color #003f43c6 */
    --toggle-menu: #BAB608;
    --color-1: #17f1d1;
    --color-2: #b087ff;
    --color-3: #ffd074;
    --scroll-postion: 0;
    --scroll-bar-height: 20px;
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-size: 4vw;
    --font-shadow-color: #2979ff;
}

@font-face {
    font-family: ProductSans;
    src: url("{{ site.baseurl }}/assets/css/fonts/Product Sans Bold.ttf");
  }

body {
    margin: 0;
    background-color: var(--background-color);
    z-index: -100;
    font-family: var(--font);
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-size: var(--font-size);
}

body {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#main-wrapper {
    min-width: fit-content;
    overflow-x: hidden;
    position: relative;
}


.section {
    min-height: fit-content;
    width: 100vw;
    color: var(--font-color);
    text-align: center;
    overflow: hidden;
    opacity: 0.8;
    background-color: transparent;
    display: grid;
    left: 0;
}


/*#big-text {
            justify-self: center;
        }

        #big-text h1 {
            font-size: 10em;
            margin: 0;
            justify-self: center;
        }

        #big-text h4 {
            font-size: 5em;
            margin: 0;
        }

        h1,
        p,
        ul {
            margin: 0;
        }*/

#gallery-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 8vw;
    transform: rotate(8deg);
    width: 120%;
    position: relative;
    left: -10%;
    padding: 12vw;
    perspective: 600px;
}

#gallery-container {
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.gallery-item-wrapper {
    flex: 0 0 auto;
    perspective: 400px;
    width: 40vw;
    backface-visibility: hidden;
}

.gallery-item {
    width: inherit;
    aspect-ratio: 4/3;
    border-radius: 2rem;
    overflow: hidden;



    & div {
        width: 120%;
        height: 100%;
        background-size: cover;
        transition: scale 500ms ease-in-out 200ms;
    }

    &:hover div {
        scale: 1.05;
    }

    & ~ a {
        top: 60%;
        position: absolute;
        font-size: 0.5em;
        opacity: 0;
        color: var(--font-color);
        text-shadow: 0 0 19px rgba(0, 0, 0, 0.674);
        transform: rotate(-8deg);
        text-decoration: none;
        text-align: center;
        width: 20vw;
        transition: top 200ms ease-in, opacity 100ms ease-in;
    }

    &:hover ~ a, & ~a:hover {
        top: 50%;
        opacity: 1;
        transition: top 200ms ease-in, opacity 500ms ease-in;
    }
}

/*blob*/
@keyframes rotate {
    from {
        rotate: 0deg;
    }

    50% {
        scale: 1 1.5;
    }

    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 34vmax;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -4;
}

#blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    pointer-events: none;
    filter: blur(12vmax);
}

#blur::before {
    content: '';
    backdrop-filter: blur(8px);
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: -1;
}

#site-logo {
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 10000;
    margin: 10px;
}

#site-logo svg {
    width: 20vw;
    /* margin: 10px; */
}


.masthead {
    margin: 10px;
}

.masthead ul {
    text-decoration: none;
    list-style-type: none;
}

.typogram {
    perspective: 300px;
    height: 100vh;
}

#video-container {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: -1;
    width: 50%;
    height: 50%;
    background-color: transparent;
    border-radius: 40px;
    padding: 20px;
    transform: translateZ(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#video-container {
    & .twozerotwolabs:first-child {
        font-size: 2.5em;
        top: 40%;
        left: 20%;
        z-index: 10;
        font-family: ProductSans;
        font-weight: bold;
    }

    & .twozerotwolabs:nth-child(2) {
        font-size: 0.5em;
        top: calc(40% + 5em);
        left: calc(20% + 18.5em);
    }

    & .twozerotwolabs {
        position: absolute;
        font-size: var(--font-size);
        animation: fadeIn 500ms forwards;
    }

    & .products {
        position: absolute;
        font-size: var(--font-size);

        & a {
            text-decoration: none;
            color: var(--font-color);
        }
    }

    & .products:nth-child(3) {
        font-size: 1em;
    }

    & .products:nth-child(4) {
        writing-mode: vertical-lr;
        text-orientation: upright;
        font-size: 0.5em;
        top: 9vh;
    }

    & .products:nth-child(5) {
        font-size: 0.75em;
        left: 60%;
        top: 0%;
        font-family: -apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica Neue,Lucida Grande,Arial,sans-serif;
    }

    & .products:nth-child(6) {
        font-size: 0.5em;
        left: 75%;
        top: 30%;
        writing-mode: vertical-lr;
        font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    }

    & .products:nth-child(7) {
        font-size: 0.625em;
        top: 80%;
        left: 20%;
        font-family: 'Trebuchet MS', sans-serif;
    }

    & .clickable:hover, .twozerotwolabs:first-child {
        text-shadow: 0 0.2px 0 #ccc, 0 0.4px 0 #ccc,
            0 0.6px 0 var(--font-shadow-color), 0 0.8px 0 #ccc,
            0 1px 0 var(--font-shadow-color), 0 1.2px 0 #ccc,
            0 1.4px 0 var(--font-shadow-color), 0 1.6px 0 #ccc,
            0 1.8px 0 var(--font-shadow-color), 0 2px 0 #ccc,
            0 2.2px 0 var(--font-shadow-color), 0 2.4px 0 var(--font-shadow-color),
            0 2px 3px rgba(0, 0, 0, 0.5);
    }

    & .clickable:active {
        text-shadow: none;
    }
}

.clickable .logos {
    opacity: 0;
    transition: opacity 1500ms, clip-path 2000ms, scale 1s, inset 1s;
    position: fixed;
    pointer-events: none;
    clip-path: circle(1%  at 10% 20%);
    inset: inherit;
    scale: 0.5;
    margin: 0;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);

    /* cliping the image */
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    font-size: 4em;
    background-color: black;

    overflow: hidden;

    font-weight: bolder;
    font-family: 'Luckiest Guy';

    /* removing text shadow from clickable class */
    text-shadow: none;
    writing-mode: initial;
    text-align: initial;

}


@keyframes waitNhide {
    from {
        display: block;
    }
    to {
        display: none;
    }
}



/* menu */

#toggle-menu {
    border-radius: 100%;
    background-color: var(--toggle-menu);
    aspect-ratio: 1;
    width: 5vw;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 101;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    & i {
        font-size: 3vw;
    }
}

#menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 100;
    background-color: var(--menu-color);
}

@keyframes float {
    from, to {
      transform: translateY(-0%);
    }
    
    50% {    
      transform: translateY(-3%);
    }
  }
  
  @keyframes background-pan {
    from {
      background-position: 1000% center;
    }
    
    to {
      background-position: 0% center;
    }
  }

#menu-items-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);

    & a {
        display: block;
        padding: clamp(0.25em, 1vmin, 1em) clamp(1em, 4vmin, 4em);
        font-size: clamp(2em, 8vw, 7em);
        text-decoration: none;
        color: var(--font-color);
        /*border-top: 1px solid rgba(255, 255, 255, 0.5);

                &:last-child {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                }*/

        & span {
            opacity: 0;
            display: inline-block;
        }
    }

    & a span {
        transition: transform 350ms ease;
    }
}


.hide {
    display: none !important;
}

#scroll-bar {
    position: fixed;
    width: 3px;
    height: var(--scroll-bar-height);
    right: 1px;
    top: var(--scroll-postion);
    background-color: aqua;
    opacity: 0;
}


/*section 3rd */
.insights {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 1em;
    font-size: var(--font-size);
}

.insight-items {
    font-size: 0.6em;
    text-align: start;
    padding: 0.5em;

    border: #1313134a 1px solid;
    aspect-ratio: 16/9;

    & h4 {
        position: relative;
        top: 20%;
    }

    & .tag {
        font-size: 0.5em;
    }
}

.insight-items:nth-child(3n+1) .tag {
    color: var(--color-1);
}

.insight-items:nth-child(3n+2) .tag {
    color: var(--color-2);
}

.insight-items:nth-child(3n) .tag {
    color: var(--color-3);
}

/*canvas container */
#canvas-container {
    position: absolute;
}

canvas {
    position: fixed;
    pointer-events: none;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
}



/* carasol-hovers */
#hover-text-container {
    /* position: relative; */
    display: grid;
    grid-template-columns: 1fr 4fr 6fr;
    grid-template-rows: 1fr 2fr;
    padding-left: clamp(30px, 5%, 100px);

    & div {
        /* position: absolute; */
        display: none;
        font-size: 0.5em;
        grid-area: 1 / 2;
        margin: auto;
        opacity: 0; 
    }
}

.hovering {
    display: block!important;
    transition: width 1s;
    animation: fadeIn 800ms 600ms forwards;
}

#midSection {
    height: 80vh;

    & p {
        height: fit-content;
    }
}













/*==================================================================================================
media query
====================================================================================================*/

@media only screen and (min-width: 1280px) {}

@media only screen and (max-width: 600px) {
    .gallery-item-wrapper {
        max-height: 20vw;
    }
    #gallery-container {
        height: 30vw;
    }
    .gallery-item {
        border-radius: 1rem;
        width: 45vw;
    }
    #video-container {
        top: 20%;
        left: 10%;
        width: 80%;
        height: 60%;
    }
}

/* hover effects only on hover devices */

@media (hover: hover) {
    /* menu */
    #menu-items-container:has(a:hover) a:not(a:hover) {
        opacity: 0.5;
    }

    #menu-items-container {
        & a:hover {
            animation: float 5s ease infinite;
        }
    
        & a:hover span {
            transition-duration: 800ms;
            background: linear-gradient(
                to right,
                var(--color-1),
                var(--color-2),
                var(--color-1)
            );
            background-size: 1000%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            animation: background-pan 150s linear infinite;
        }
    
        & a:hover span:first-child {
            transform: translate(-40%, 30%) rotate(8deg);
        }
    
        & a:hover span:nth-child(2) {
            transform: translate(-20%, 20%) rotate(4deg);
        }
    
        & a:hover span:nth-child(3) {
            transform: translate(-10%, -30%) rotate(-6deg);
        }
    
        & a:hover span:nth-child(4) {
            transform: translate(0%, 8%) rotate(-8deg);
        }
    }

    /* logos and products(video-container) */
    .clickable:hover .logos {
        opacity: 1;
        clip-path: circle(80% at 50% 50%);
        inset: 50% 0 0 60%;
        scale: 1;
        transition: opacity 100ms, clip-path 2000ms, scale 1s, inset 500ms;
    }

    #video-container:has(.clickable:hover) .twozerotwolabs {
        opacity: 0;
        transition: opacity 500ms;
        animation: waitNhide 0s  500ms forwards;
    }
}



/* styling for non hover devices */
@keyframes logoAnime {
    from {
        opacity: 0;
        clip-path: circle(1%  at 10% 20%);
        inset: 50% 0 0 60%;
        scale: 1;
    }

    50% {
        opacity: 1;
        clip-path: circle(80% at 50% 50%);
        inset: inherit;
        scale: 0.5;
    }

    to {
        opacity: 0;
        clip-path: circle(1%  at 10% 20%);
        inset: 50% 0 0 60%;
        scale: 1;
    }
}


@media (hover: none) {
    .clickable .logos {
        animation: logoAnime 3000ms 1500ms 1 forwards;
    }
}