---
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/poppr.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>TWO02</title>
</head>

<body>
    <div id="main-wrapper">
        <div class="masthead">
            <a id="site-logo" href="{{ site.baseurl }}/">
                <!-- <img src="{{ site.baseurl }}/assets/images/white text horizontal .svg" alt="TWO02"> -->
                <!-- <object data="{{ site.baseurl }}/assets/images/white text horizontal .svg" width="fit-content" height="fit-content"> </object> -->
                {% include /logo-svg.html %}
            </a>
        </div>

        {% include /menu.html %}
        
        <div id="blur">
            <div id="blob"></div>
        </div>
        {{ content }}
        

        <div id="scroll-bar"></div>
    </div>
</body>

</html>