{% assign otherSites = site.data.navigation['otherSites'] %}

<div id="video-container">
    <div class="twozerotwolabs"><span>TWO02</span></div>
    <div class="twozerotwolabs"><span>labs</span></div>

    {% for item in otherSites %}
    {% if item.url %}
    <div class="products clickable"><a href="{{ item.url }}" target="_blank">{{ item.title }}</a>
        <h3 class="logos" style="background-image: url('{{ item.logo }}');">
            {{ item.title }}
        </h3>
    </div>
    {% else %}
    <div class="products"><span>{{ item.title }}</span></div>
    {% endif %}
    {% endfor %}
</div>
<style>
    .clickable .logos {
        opacity: 0;
        transition: opacity 1500ms, clip-path 2000ms, max-height 1s, inset 1s;
        position: fixed;
        /* max-height: 50vh;
        max-width: 50vw; */
        pointer-events: none;
        clip-path: circle(1%  at 10% 20%);
        inset: inherit;
        /* max-height: 10px; */
        /* transform: translate(-50%, -50%); */
        margin: 0;


        /* cliping the image */
        background-clip: text;
        -webkit-background-clip: text;
        background-size: cover;
        color: transparent;
        font-size: 4em;
        background-color: black;

        /* display: flex;
        flex-direction: column;
        justify-content: center; */
        overflow: hidden;

        font-weight: bolder;
        font-family: 'Luckiest Guy', cursive;

        /* removing text shadow from clickable class */
        text-shadow: none;
        writing-mode: initial;
        text-align: initial;
        width: fit-content;
        height: fit-content;
    }

    .clickable:hover .logos {
        opacity: 1;
        clip-path: circle(80% at 50% 50%);
        /* inset: 20% 0; */
        inset: 40% 0 0 20%;
        /* max-height: 100%; */
        transition: opacity 1500ms, clip-path 2000ms, max-height 1s, inset 500ms;
        /* transform: translate(-50%, -50%); */
    }

    #video-container:has(.clickable:hover) .twozerotwolabs {
        opacity: 0;
        transition: opacity 500ms;
        animation: waitNhide 0s  500ms forwards;
    }

    @keyframes waitNhide {
        from {
            display: block;
        }
        to {
            display: none;
        }
    }

    /* .products:nth-child(6) {
        top: 30%;
        left: 75%;
        transition: top 2s, left 2s;
    }

    .clickable:hover .logos:nth-child(2) {
        top: 0%;
        left: 0;
    } */
</style>